.categoryProducts{
    background:  #f6f1d4 ;
    /* margin-top: -35px; */
    padding-top: 1px;
    min-height: 100vh;
    padding-bottom: 50px;
}

.categoryProducts h2{
    font-size: 250%;
    text-align: center;
    margin-top: 50px;
}

.categoryProductsLine{
    margin: 0 auto 0 auto;
}