.catLink{
  text-decoration: none;
  color: black;
}

.categories {
    padding: 3rem 0;
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    /* background: linear-gradient(to bottom, #E5C27C, #02000E); */
  }
  
  .categories h2 {
    font-size: 1.5rem;
  }
  
  .category-list {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 1.5rem;
    margin-top: 2rem;
  }
  
  .category {
    background-color: #f5f5f5;
    border-radius: 8px;
    padding: 1rem;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    transition: transform 0.2s ease, box-shadow 0.2s ease;
    cursor: pointer;
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 100px;
    width: 150px;
  }
  
  .category:hover {
    transform: translateY(-10px);
    box-shadow: 0 6px 8px rgba(0, 0, 0, 0.2);
  }
  
  .category h3 {
    margin-top: 1rem;
    font-size: 1.3rem;
  }