.hero {
    position: relative;
    overflow: hidden;
  }
  
  .keen-slider {
    width: 100%;
    height: 100vh;
  }
  
  .keen-slider__slide img {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
  .dark-overlay {
  position: relative;
}

.dark-overlay::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.4);
  z-index: 2;
}
  .hero-content {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    color: #fff;
    z-index: 3;
  }
  
  .hero-content h1 {
    font-size: 2.5rem;
    margin-bottom: 2rem;
  }
  
  .hero-content p {
    font-size: 1.2rem;
    margin-bottom: 0.3rem;
  }
  
  .hero-content button {
    margin-top: 1.5rem;
    background-color: #f39c12;
    color: #fff;
    border: none;
    padding: 0.5rem 1rem;
    font-size: 1rem;
    cursor: pointer;
    transition: background-color 0.3s ease;
  }
  
  .hero-content button:hover {
    background-color: #e67e22;
  }  